<div class="decorative-ticker-wrap">
  <div class="decorative-ticker-text-container">
    <div class="decorative-ticker-text-wrap">
      <p class="decorative-ticker-text">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text second">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text third">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text fourth">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text fifth">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text sixth">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
    </div>
    <div class="decorative-ticker-text-wrap">
      <p class="decorative-ticker-text">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text second">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text third">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text fourth">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text fifth">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
      <p class="decorative-ticker-text sixth">
        <span>подарунки</span>
        <span class="decorative-ticker-text-last">щотижня</span>
      </p>
    </div>
  </div>
</div>
