<footer class="footer">
  <div class="container footer-container">
    <div>
      <a href="/" target="_blank" rel="noopener noreferrer nofollow">
        <svg>
          <use href="/icons/icons.svg#atb-logo"></use>
        </svg>
      </a>
      <ul>
        <li>
          <a href="/" target="_blank" rel="noopener noreferrer nofollow">
            <svg>
              <use href="/icons/icons.svg#footer-apple-store"></use>
            </svg>
            <span>
              <span>Available on the</span>
              <span>Apple Store</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/" target="_blank" rel="noopener noreferrer nofollow">
            <svg>
              <use href="/icons/icons.svg#footer-google-play"></use>
            </svg>
            <span>
              <span>Android App on</span>
              <span>Google Play</span>
            </span>
          </a>
        </li>
      </ul>
      <a href="tel:+380800500415">
        <span>
          <svg>
            <use href="/icons/icons.svg#phone"></use>
          </svg>
        </span>
        <span>0-800-500-415</span>
      </a>
      <ul>
        <li>
          <a href="/" target="_blank" rel="noopener noreferrer nofollow">
            <span>
              <svg>
                <use href="/icons/icons.svg#facebook"></use>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="/" target="_blank" rel="noopener noreferrer nofollow">
            <span>
              <svg>
                <use href="/icons/icons.svg#instagram"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer-nav-links-list">
      <li class="footer-nav-links-list-item"><a class="footer-nav-link" href="">Подарунки</a></li>
      <li class="footer-nav-links-list-item"><a class="footer-nav-link" href="">Застосунок</a></li>
      <li class="footer-nav-links-list-item"><a class="footer-nav-link" href="">Умови участі</a></li>
      <li class="footer-nav-links-list-item"><a class="footer-nav-link" href="">Питання та відповіді</a></li>
    </ul>
    <div class="footer-art-nation-wrap">
      <svg class="footer-art-nation-icon">
        <use href="/icons/icons.svg#art-nation-mobile"></use>
      </svg>
      <p class="footer-art-nation-text">© Art Nation, 2024</p>
    </div>
    <p class="footer-sun">Зроблено Сонцем ●</p>
  </div>
</footer>
