<header class="header">
  <div class="container header-container">
    <button type="button" class="mobile-menu-btn">
      <svg class="mobile-menu-btn-icon">
        <use href="/icons/icons.svg#mobile-menu-btn"></use>
      </svg>
    </button>
    <nav class="nav">
      <a href="/" class="header-link atb">
        <svg class="header-logo-link-atb-icon">
          <use href="/icons/icons.svg#atb-logo"></use>
        </svg>
      </a>
      <div class="header-nav-links-list-wrap">
        <ul class="header-nav-links-list">
          <li class="header-nav-links-list-item">
            <a class="header-nav-link" href="/">Подарунки</a>
          </li>
          <li class="header-nav-links-list-item">
            <a class="header-nav-link" href="/">Умови участі</a>
          </li>
        </ul>
        <ul class="header-nav-links-list">
          <li class="header-nav-links-list-item">
            <a class="header-nav-link" href="/">Застосунок</a>
          </li>
          <li class="header-nav-links-list-item">
            <a class="header-nav-link" href="/">Питання</a>
          </li>
        </ul>
      </div>
      <a class="header-link code" href="/"> <span class="header-link-title">Реєстрація коду</span> </a>
    </nav>
  </div>
</header>
