<section class="hero-section">
  <div class="hero-section-content-wrap">
    <img src="/images/hero/rays-mobile.png" class="hero-rays-mobile-img pointer-event-none" />
    <img src="/images/hero/rays-desk.png" class="hero-rays-desk-img pointer-event-none" />
    <img src="/icons/hero/bg-mobile.svg" class="hero-bg-mobile-img pointer-event-none" />
    <img src="/icons/hero/bg-desk.svg" class="hero-bg-desk-img pointer-event-none" />
    <img src="/images/hero/card-mobile.png" class="hero-card-mobile-img pointer-event-none" />
    <img src="/images/hero/card-desk.png" class="hero-card-desk-img pointer-event-none" />
    <img src="/images/hero/prize-mobile.png" class="hero-prize-mobile-img pointer-event-none" />
    <img src="/images/hero/prize-desk.png" class="hero-prize-desk-img pointer-event-none" />
    <img src="/images/hero/logo.png" class="hero-logo-img pointer-event-none" />
    <div class="qr-code-wrap">
      <p class="qr-code-title">Завантаж додаток</p>
      <img class="qr-code-arrow-img" src="/icons/hero/qr-code-arrow.svg" />
      <img class="qr-code-img" src="/images/hero/qr-code.png" />
    </div>
    <img src="/images/hero/house-mobile.png" class="hero-house-mobile-icon pointer-event-none" />
    <img src="/images/hero/house-desk.png" class="hero-house-desk-icon pointer-event-none" />
    <div class="container hero-container">
      <h2 class="hero-title">на будинок мрії</h2>
      <div class="hero-content-wrap">
        <p class="hero-content-text">грай у мобільну гру Будинок Мрії та вигравай 3 000 000 грн на будинок та інші подарунки!</p>
        <a class="hero-content-download-link" href="/" target="_blank" rel="noopener noreferrer nofollow">Завантаж додаток</a>
        <a class="hero-raffle-prizes-link" href="/" target="_blank" rel="noopener noreferrer nofollow">
          <span class="hero-raffle-prizes-link-title">Щотижневий розіграш подарунків</span>
          <svg class="hero-raffle-prizes-link-icon">
            <use href="/icons/icons.svg#arrow-down"></use>
          </svg>
        </a>
      </div>
      <div class="hero-date-wrap">
        <p class="hero-date">З 10 липня по 4 вересня</p>
        <img src="/icons/hero/left-star-mobile.svg" class="left-star-mobile-icon" />
        <img src="/icons/hero/right-star-mobile.svg" class="right-star-mobile-icon" />
        <img src="/icons/hero/top-star-mobile.svg" class="top-star-mobile-icon" />
        <img src="/icons/hero/left-star-desk.svg" class="left-star-desk-icon" />
        <img src="/icons/hero/right-star-desk.svg" class="right-star-desk-icon" />
        <img src="/icons/hero/top-star-desk.svg" class="top-star-desk-icon" />
      </div>
    </div>
  </div>
</section>
