<section class="mobile-app-section" id="mobile-app">
  <div class="mobile-app-bg">
    <h2 class="hidden-section-title">мобільний застосунок Будинок Мрії</h2>
    <div class="container mobile-app-container">
      <div class="mobile-app-content-wrap">
        <div class="mobile-app-text-wrap">
          <p class="mobile-app-title">застосунок</p>
          <p class="mobile-app-text">Будинок Мрії</p>
        </div>
        <div class="mobile-app-links-wrap">
          <a class="mobile-app-link app-store" href="/" target="_blank" rel="noopener noreferrer nofollow">
            <img src="/icons/mobile-app/app-store.svg" alt="посилання на App Store" />
          </a>
          <a class="mobile-app-link google-play" href="/" target="_blank" rel="noopener noreferrer nofollow"><img src="/icons/mobile-app/google-play.svg" alt="посилання на Google Play" /></a>
        </div>
        <div class="mobile-app-qr-code-wrap">
          <img class="mobile-app-qr-code-img" src="/images/mobile-app/qr-code.png" alt="qr-код застосунку" />
        </div>
      </div>
      <div class="mobile-app-sliders-wrap">
        <div class="mobile-app-screens-slider-decorative-app">
          <img class="mobile-app-screens-slider-decorative-app-img" src="/images/mobile-app/iphone-wrap.png" alt="декоративне зображення смартфону" />
          <div class="swiper mobile-app-screens-slider">
            <div class="swiper-wrapper mobile-app-screens-slider-wrapper">
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-01.jpg" alt="скріншот мобільного застосунку" />
              </div>
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-02.jpg" alt="скріншот мобільного застосунку" />
              </div>
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-03.jpg" alt="скріншот мобільного застосунку" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper mobile-app-steps-slider">
          <div class="swiper-pagination mobile-app-steps-slider-pagination"></div>
          <div class="swiper-wrapper mobile-app-steps-slider-wrapper">
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">
                крок 1. грай у мобільну гру Будинок Мрії та вигравай 3 000 000 грн на будинок та інші подарунки! потім тут буде ще текст. Довгий-довгий текст!
              </p>
            </div>
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">
                крок 2. грай у мобільну гру Будинок Мрії та вигравай 3 000 000 грн на будинок та інші подарунки! потім тут буде ще текст. Довгий-довгий текст!
              </p>
            </div>
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">
                крок 3. грай у мобільну гру Будинок Мрії та вигравай 3 000 000 грн на будинок та інші подарунки! потім тут буде ще текст. Довгий-довгий текст!
              </p>
            </div>
          </div>
          <div class="mobile-app-steps-slider-controls">
            <button class="mobile-app-steps-slider-button mobile-app-steps-slider-button-prev" type="button">
              <svg class="mobile-app-steps-slider-button-icon prev">
                <use href="/icons/icons.svg#chevron-right"></use>
              </svg>
            </button>
            <button class="mobile-app-steps-slider-button mobile-app-steps-slider-button-next" type="button">
              <svg class="mobile-app-steps-slider-button-icon">
                <use href="/icons/icons.svg#chevron-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
