<section class="mobile-app-section" id="mobile-app">
  <div class="mobile-app-bg">
    <h2 class="hidden-section-title">мобільний застосунок Будинок Мрії</h2>
    <div class="container mobile-app-container">
      <div class="mobile-app-content-wrap">
        <div class="mobile-app-text-wrap">
          <p class="mobile-app-title">застосунок</p>
          <p class="mobile-app-text">Будинок Мрії</p>
        </div>
        <div class="mobile-app-links-container">
          <div class="mobile-app-links-wrap">
            <a class="mobile-app-link app-store" href="/" target="_blank" rel="noopener noreferrer nofollow">
              <img src="/icons/mobile-app/app-store.svg" alt="посилання на App Store" class="mobile-app-link-img" />
            </a>
            <a class="mobile-app-link google-play" href="/" target="_blank" rel="noopener noreferrer nofollow"
              ><img src="/icons/mobile-app/google-play.svg" alt="посилання на Google Play" class="mobile-app-link-img"
            /></a>
          </div>
          <div class="mobile-app-qr-code-wrap">
            <img class="mobile-app-qr-code-img" src="/images/mobile-app/qr-code.png" alt="qr-код застосунку" />
          </div>
        </div>
      </div>
      <div class="mobile-app-sliders-wrap">
        <div class="mobile-app-screens-slider-decorative-app">
          <img class="mobile-app-screens-slider-decorative-app-img" src="/images/mobile-app/iphone-wrap.png" alt="декоративне зображення смартфону" />
          <div class="swiper mobile-app-screens-slider">
            <div class="swiper-wrapper mobile-app-screens-slider-wrapper">
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-01.jpg" alt="скріншот мобільного застосунку" />
              </div>
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-02.jpg" alt="скріншот мобільного застосунку" />
              </div>
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-03.jpg" alt="скріншот мобільного застосунку" />
              </div>
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-04.jpg" alt="скріншот мобільного застосунку" />
              </div>
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-05.jpg" alt="скріншот мобільного застосунку" />
              </div>
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-06.jpg" alt="скріншот мобільного застосунку" />
              </div>
              <div class="swiper-slide mobile-app-screens-slider-slide">
                <img class="mobile-app-screens-slider-slide-img" src="/images/mobile-app/step-07.jpg" alt="скріншот мобільного застосунку" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper mobile-app-steps-slider">
          <div class="swiper-wrapper mobile-app-steps-slider-wrapper">
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">Грай та будуй будинок мрії.</p>
            </div>
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">Скануй картки та отримуй бонуси в грі.</p>
            </div>
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">Грай в режим match 3, проходь рівні та виконуй завдання.</p>
            </div>
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">Виконуй завдання, проходь етапи гри та отримай код для участі в розіграшу.</p>
            </div>
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">За кожен пройдений етап в грі отримуй коди та реєструй їх для участі в розіграшу.</p>
            </div>
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">
                Реєструй коди в додатку АТБ-Маркет в розділі &#8220;Розваги&#8221; та приймай участь в розіграші щотижневих призів та головного призу 3 000 000 грн.
              </p>
            </div>
            <div class="swiper-slide mobile-app-steps-slider-slide">
              <p class="mobile-app-steps-slider-slide-text">Встановлюй додаток АТБ-Маркет та отримай додаткові бонуси в грі.</p>
            </div>
          </div>
          <div class="swiper-pagination mobile-app-steps-slider-pagination"></div>
        </div>
        <div class="mobile-app-steps-slider-controls">
          <button class="mobile-app-steps-slider-button mobile-app-steps-slider-button-prev" type="button">
            <svg class="mobile-app-steps-slider-button-icon prev">
              <use href="/icons/icons.svg#chevron-right"></use>
            </svg>
          </button>
          <button class="mobile-app-steps-slider-button mobile-app-steps-slider-button-next" type="button">
            <svg class="mobile-app-steps-slider-button-icon">
              <use href="/icons/icons.svg#chevron-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
