<div class="mobile-menu is-hidden js-mobile-menu">
  <div class="mobile-menu-bg">
    <div class="mobile-menu-nav-links-list-wrap">
      <ul class="mobile-menu-nav-links-list js-main-navigation">
        <li class="mobile-menu-nav-links-list-item">
          <a class="mobile-menu-nav-link js-main-navigation-link" href="#prizes">Подарунки</a>
        </li>
        <li class="mobile-menu-nav-links-list-item">
          <a class="mobile-menu-nav-link js-main-navigation-link" href="#rules">Умови участі</a>
        </li>
        <li class="mobile-menu-nav-links-list-item">
          <a class="mobile-menu-nav-link js-main-navigation-link" href="#mobile-app">Застосунок</a>
        </li>
        <li class="mobile-menu-nav-links-list-item">
          <a class="mobile-menu-nav-link js-main-navigation-link" href="#questions">Питання</a>
        </li>
      </ul>
      <img class="mobile-menu-top-star-icon" src="/icons/mobile-menu/top-star.svg" />
      <img class="mobile-menu-left-star-icon" src="/icons/mobile-menu/left-star.svg" />
    </div>
    <div class="mobile-menu-download-app-link-wrap">
      <img class="mobile-menu-right-star-icon" src="/icons/mobile-menu/right-star.svg" />
      <a class="mobile-menu-download-app-link" href="/" target="_blank" rel="noopener noreferrer nofollow">Завантаж додаток</a>
    </div>
  </div>
</div>
