<section class="prizes-section" id="prizes">
  <load src="/partials/decorative-ticker.html" />
  <div class="container">
    <h2 class="hidden-section-title">Подарунки</h2>
    <div class="swiper prizes-slider-mobile">
      <div class="swiper-wrapper prizes-slider-wrapper">
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">17.07</p></div>
              <img src="/images/prizes/coffee-machine.png" alt="зображення подарунку" class="prizes-prize-img coffee-machine" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Кавомашина PHILIPS<br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">24.07</p></div>
              <img src="/images/prizes/vacuum-cleaner.png" alt="зображення подарунку" class="prizes-prize-img vacuum-cleaner" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Пилосос DYSON <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">31.07</p></div>
              <img src="images/prizes/hair-dryer.png" alt="зображення подарунку" class="prizes-prize-img hair-dryer" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Фен DYSON Supersonic <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">07.08</p></div>
              <img src="/images/prizes/grill.png" alt="зображення подарунку" class="prizes-prize-img grill" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Гриль TEFAL OptiGrill XL <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">14.08</p></div>
              <img src="/images/prizes/iron.png" alt="зображення подарунку" class="prizes-prize-img iron" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Праска з парогенератором TEFAL <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">21.08</p></div>
              <img src="/images/prizes/robot-vacuum-cleaner.png" alt="зображення подарунку" class="prizes-prize-img robot-vacuum-cleaner" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Робот-пилосос XIAOMI <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">28.08</p></div>
              <img src="/images/prizes/kitchen-machine.png" alt="зображення подарунку" class="prizes-prize-img kitchen-machine" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Кухонная машина TEFAL QB813D38 <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">4.09-6.09</p></div>
              <img src="/images/prizes/money.png" alt="зображення подарунку" class="prizes-prize-img money" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">3 000 000 грн</p>
            </div>
          </div>
        </div>
      </div>
      <div class="prizes-slider-controls-wrap">
        <div class="swiper-pagination prizes-slider-pagination"></div>
        <div class="prizes-slider-controls">
          <button class="prizes-slider-button prizes-slider-button-prev" type="button">
            <svg class="prizes-slider-button-icon prev">
              <use href="/icons/icons.svg#chevron-right"></use>
            </svg>
          </button>
          <button class="prizes-slider-button prizes-slider-button-next" type="button">
            <svg class="prizes-slider-button-icon">
              <use href="/icons/icons.svg#chevron-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="swiper prizes-slider-desk">
      <div class="swiper-wrapper prizes-slider-wrapper">
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">17.07</p></div>
              <img src="/images/prizes/coffee-machine.png" alt="зображення подарунку" class="prizes-prize-img coffee-machine" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Кавомашина PHILIPS<br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">24.07</p></div>
              <img src="/images/prizes/vacuum-cleaner.png" alt="зображення подарунку" class="prizes-prize-img vacuum-cleaner" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Пилосос DYSON <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">31.07</p></div>
              <img src="/images/prizes/hair-dryer.png" alt="зображення подарунку" class="prizes-prize-img hair-dryer" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Фен DYSON Supersonic <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">07.08</p></div>
              <img src="/images/prizes/grill.png" alt="зображення подарунку" class="prizes-prize-img grill" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Гриль TEFAL OptiGrill XL <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">14.08</p></div>
              <img src="/images/prizes/iron.png" alt="зображення подарунку" class="prizes-prize-img iron" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Праска з парогенератором TEFAL <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">21.08</p></div>
              <img src="/images/prizes/robot-vacuum-cleaner.png" alt="зображення подарунку" class="prizes-prize-img robot-vacuum-cleaner" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Робот-пилосос XIAOMI <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">28.08</p></div>
              <img src="/images/prizes/kitchen-machine.png" alt="зображення подарунку" class="prizes-prize-img kitchen-machine" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">Кухонная машина TEFAL QB813D38 <br />3шт</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide prizes-slider-slide">
          <div class="prizes-prize-wrap">
            <div class="prizes-prize-img-wrap">
              <div class="prizes-prize-date-wrap"><p class="prizes-prize-date">4.09-6.09</p></div>
              <img src="/images/prizes/money.png" alt="зображення подарунку" class="prizes-prize-img money" />
            </div>
            <div class="prizes-prize-title-wrap">
              <p class="prizes-prize-name">3 000 000 грн</p>
            </div>
          </div>
        </div>
      </div>
      <div class="prizes-slider-controls-wrap">
        <div class="prizes-slider-controls">
          <button class="prizes-slider-button prizes-slider-button-prev" type="button">
            <svg class="prizes-slider-button-icon prev">
              <use href="/icons/icons.svg#chevron-right"></use>
            </svg>
          </button>
          <button class="prizes-slider-button prizes-slider-button-next" type="button">
            <svg class="prizes-slider-button-icon">
              <use href="/icons/icons.svg#chevron-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="prizes-register-code-btn desk js-register-code-btn">
      <span class="prizes-register-code-btn-title-wrap">
        <span class="prizes-register-code-btn-title">Реєстрація коду</span>
        <img src="/icons/prizes/left-star.svg" alt="декоративна зірка" class="prizes-register-code-btn-star-icon left" />
        <img src="/icons/prizes/right-star.svg" alt="декоративна зірка" class="prizes-register-code-btn-star-icon right" />
      </span>
    </button>
    <a href="https://artnation.global/dreamhouse" target="_blank" rel="noopener noreferrer nofollow" class="prizes-register-code-btn mobile js-register-code-btn">
      <span class="prizes-register-code-btn-title-wrap">
        <span class="prizes-register-code-btn-title">Реєстрація коду</span>
        <img src="/icons/prizes/left-star.svg" alt="декоративна зірка" class="prizes-register-code-btn-star-icon left" />
        <img src="/icons/prizes/right-star.svg" alt="декоративна зірка" class="prizes-register-code-btn-star-icon right" />
      </span>
    </a>
  </div>
</section>
