<section class="questions-section">
  <div class="container questions-container">
    <h2 class="questions-title">
      <span class="questions-title-text">питання</span>
      <span class="questions-title-accent">та відповіді</span>
    </h2>
    <ul class="questions-list js-questions-list">
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Як мені придбати сашет за акційною ціною?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Дивись як працює схрещування - ти віддаєш 3 більш простих подарунки, для того, щоб отримати ОДИН більш крутий. Розуміємо, це може здаватися нечесним, ти віддаєш 3, а отримаєш 1. Ми все
              врахували. Так, ти не отримаєш 3 сертифікати з цього подарунку, але в прокачаному подарунку вищий шанс отримати щось більш цінне.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Я сканую qr-код на картці з сашету, але він не працює, чому так?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Дивись як працює схрещування - ти віддаєш 3 більш простих подарунки, для того, щоб отримати ОДИН більш крутий. Розуміємо, це може здаватися нечесним, ти віддаєш 3, а отримаєш 1. Ми все
              врахували. Так, ти не отримаєш 3 сертифікати з цього подарунку, але в прокачаному подарунку вищий шанс отримати щось більш цінне.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Я отримав(ла) сертифікат з подарунку, але де мені його знайти і як використати?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Дивись як працює схрещування - ти віддаєш 3 більш простих подарунки, для того, щоб отримати ОДИН більш крутий. Розуміємо, це може здаватися нечесним, ти віддаєш 3, а отримаєш 1. Ми все
              врахували. Так, ти не отримаєш 3 сертифікати з цього подарунку, але в прокачаному подарунку вищий шанс отримати щось більш цінне.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Я не зберіг посилання на сертифікат, де мені тепер його знайти?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Дивись як працює схрещування - ти віддаєш 3 більш простих подарунки, для того, щоб отримати ОДИН більш крутий. Розуміємо, це може здаватися нечесним, ти віддаєш 3, а отримаєш 1. Ми все
              врахували. Так, ти не отримаєш 3 сертифікати з цього подарунку, але в прокачаному подарунку вищий шанс отримати щось більш цінне.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Навіщо мені схрещувати подарунки (апгрейдити їх)?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Дивись як працює схрещування - ти віддаєш 3 більш простих подарунки, для того, щоб отримати ОДИН більш крутий. Розуміємо, це може здаватися нечесним, ти віддаєш 3, а отримаєш 1. Ми все
              врахували. Так, ти не отримаєш 3 сертифікати з цього подарунку, але в прокачаному подарунку вищий шанс отримати щось більш цінне.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Чому при повторному проходженні рівня - не можу зібрати три подарунки?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Дивись як працює схрещування - ти віддаєш 3 більш простих подарунки, для того, щоб отримати ОДИН більш крутий. Розуміємо, це може здаватися нечесним, ти віддаєш 3, а отримаєш 1. Ми все
              врахували. Так, ти не отримаєш 3 сертифікати з цього подарунку, але в прокачаному подарунку вищий шанс отримати щось більш цінне.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <a href="/" class="questions-download-link">
      <span class="questions-download-link-title">Правила акції</span>
      <svg class="questions-download-link-icon">
        <use href="/icons/icons.svg#download"></use>
      </svg>
    </a>
  </div>
</section>
