<section class="questions-section" id="questions" data-nav-start>
  <div class="container questions-container">
    <h2 class="questions-title">
      <span class="questions-title-text">питання</span>
      <span class="questions-title-accent">та відповіді</span>
    </h2>
    <ul class="questions-list js-questions-list">
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Як мені придбати сашет за акційною ціною?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Сашет продається за акційною ціною 2 грн за кожні 100 грн в чеку або придбання товару партнера, що відмічений спеціальною позначкою у мережі АТБ-Маркет. Повна ціна сашету 10 грн.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Я сканую qr-код на картці з сашету, але він не працює, чому так?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap small">
            <p class="questions-answer">QR-код необхідно сканувати безпосередньо в самій грі &#8220;Будинок Мрії&#8221;, натиснувши кнопку &#8220;Сканер&#8221;.</p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Не сканується qr-код в грі &#8220;Будинок Мрії&#8221; через кнопку сканер, що робити?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap small">
            <p class="questions-answer">Напишіть нам на пошту <a class="questions-link" href="mailto:support@artnationcorp.com">support@artnationcorp.com</a>.</p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Що я отримаю при скануванні qr-коду на картці?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Гравець отримує бонуси в грі &#8220;Будинок Мрії&#8221;, а саме: ключ для відкриття сюжетного етапу в грі, 500 золотих монет, 45 хвилин безкінечного життя для проходження рівнів у режимі
              Match3, бустер бомбочку та бустер ракету, які допомагають проходити рівні Match3.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Я не можу відкрити наступний сюжетний етап в грі, чому так?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Для відкриття наступного етапу гри, користувачу необхідно придбати сашет у мережі магазинів АТБ-Маркет, відсканувати його та отримати ключ, який дозволить відкрити наступний етап.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Як мені взяти участь у розіграші призів?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Для цього необхідно проходити сюжетні етапи в грі &#8220;Будинок Мрії&#8221;, за кожен пройдений етап, користувачу буде видаватись код для реєстрації. Необхідно натиснути кнопку
              &#8220;зареєструвати&#8221;, після чого користувач перейде в застосунок АТБ-Маркет на сторінку реєстрації.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">В мене немає застосунку АТБ-Маркет, як мені зареєструвати код з гри?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Користувачу необхідно встановити додаток АТБ-Маркет, зареєструватись в ньому, після чого повернутись в гру &#8220;Будинок Мрії&#8221; і натиснути на код та кнопку
              &#8220;зареєструвати&#8221;.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Де зберігаються коди для реєстрації?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap small">
            <p class="questions-answer">Коди зберігаються в грі &#8220;Будинок Мрії&#8221;, в розділі &#8220;мої коди&#8221;.</p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Як мені дізнатись чи зареєстрований код?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap small">
            <p class="questions-answer">Після реєстрації коду на сайті, ви побачите в грі, що код зареєстровано.</p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Як буде відбуватись щотижневий розіграш призів?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap big">
            <p class="questions-answer">
              Серед усіх зареєстрованих кодів в мобільному додатку АТБ-Маркет, кожень тиждень за допомогою сервісу
              <a class="questions-link" href="https://www.random.org/" target="_blank" rel="noopener noreferrer nofollow">https://www.random.org/</a> буде обиратись один випадковий код. Результати
              розіграшів будуть опубліковані в соціальних мережах АТБ-Маркет, а також на цьому сайті біля подарунку буде розміщена позначка з нікнеймом гравця.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Як буде відбуватись головний розіграш 3 млн грн на будинок мрії?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Серед усіх зареєстрованих кодів в мобільному додатку АТБ-Маркет за весь період акції, за допомогою сервісу
              <a class="questions-link" href="https://www.random.org/" target="_blank" rel="noopener noreferrer nofollow">https://www.random.org/</a> буде обиратись один випадковий код. Розіграш буде
              проводитись в прямому ефірі в соціальних мережах АТБ-Маркет.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Якщо я вже виграв подарунок, то чи братиму участь в наступних щотижневих розіграш та у розіграші супер призу?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Так, з наступних розіграшах виключаються переможні коди, вони не будуть брати участь у наступних розіграшах. Але якщо гравець зареєструє більше одного нового коду, то в нього буде шанс
              на перемогу в наступних розіграшах.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Як переможець дізнається про те що він переміг у розіграші?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              На момент реєстрації коду, користувач вказує свій мобільний номер телефону, після перемоги, організатор телефонує переможцю за номером, вказаним при реєстрації.
            </p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Якщо користувач зареєстрував більше 1 коду, це означає що його шанси перемогти в розіграші збільшуються?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap small">
            <p class="questions-answer">Так, чим більше кодів зареєстрував користувач, тим більше шансів на перемогу.</p>
          </div>
        </div>
      </li>
      <li class="questions-list-item" data-aos="fade-up">
        <div class="questions-question-wrap hidden-desc js-questions-question-wrap">
          <button type="button" class="questions-question-btn js-questions-question-btn">
            <span class="questions-question-btn-title">Я пройшов гру, як мені отримати ще більше кодів?</span>
            <span class="question-btn-icon-wrap">
              <svg class="question-btn-icon question-btn-icon-show">
                <use href="/icons/icons.svg#question-show"></use>
              </svg>
              <svg class="question-btn-icon question-btn-icon-hide">
                <use href="/icons/icons.svg#question-hide"></use>
              </svg>
            </span>
          </button>
          <div class="questions-answer-wrap">
            <p class="questions-answer">
              Після проходження гри, гравець побаче повідомлення про те, чи бажає він пройти гру заново, щоб отримати більше кодів? Якщо гравець погоджується, він починає гру заново, але в нього
              зберігаються усі його попередні коди та ігрові ресурси.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <a href="/" class="questions-download-link">
      <span class="questions-download-link-title">Правила акції</span>
      <svg class="questions-download-link-icon">
        <use href="/icons/icons.svg#download"></use>
      </svg>
    </a>
  </div>
</section>
