<div class="register-code-backdrop-wrap js-register-code-modal-win js-register-code-backdrop-wrap is-hidden1">
  <div class="register-code-backdrop js-backdrop">
    <div class="register-code-modal-win">
      <button type="button" class="register-code-modal-win-close-btn js-register-code-modal-win-close-btn">
        <svg class="register-code-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close-modal-win"></use>
        </svg>
      </button>
      <div class="register-code-modal-win-container">
        <p>
          <span>Реєстрація коду можлива через</span>
          <span>
            <span>мобільний застосунок</span>
            <svg>
              <use href="/icons/icons.svg#register-code-atb-logo"></use>
            </svg>
          </span>
        </p>
        <ul>
          <li>
            <div>
              <div>
                <img src="/images/register-code/qr-code-play-market.png" alt="qr-код для завантажування мобільного застосунку" />
              </div>
              <div>
                <svg>
                  <use href="/icons/icons.svg#google-play-logo"></use>
                </svg>
                <p>Завантажити з Play Market</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
