<section class="rules-section">
  <h2 class="hidden-section-title">Правила акції</h2>
  <div class="rules-container">
    <ul class="rules-list">
      <li class="rules-list-item">
        <div class="rules-rule goods">
          <p class="rules-rule-number">01</p>
          <p class="rules-rule-desc">Купуй на 100 грн або товари партнерів</p>
        </div>
      </li>
      <li class="rules-list-item">
        <div class="rules-rule additional-card">
          <p class="rules-rule-number">02</p>
          <p class="rules-rule-desc additional">
            <span class="main"> Отримуй сашет із карткою за 2 грн </span>
            <span class="accent">+ додаткова картка при оплаті картою АТБ</span>
          </p>
        </div>
      </li>
      <li class="rules-list-item">
        <div class="rules-rule game">
          <p class="rules-rule-number game">03</p>
          <p class="rules-rule-desc game">Активуй картки у грі та проходь рівні швидше</p>
        </div>
      </li>
      <li class="rules-list-item">
        <div class="rules-rule code">
          <p class="rules-rule-number">04</p>
          <p class="rules-rule-desc">Отримуй код в грі та зареєструй його в додатку АТБ-Маркет</p>
        </div>
      </li>
      <li class="rules-list-item">
        <div class="rules-rule prizes">
          <p class="rules-rule-number">05</p>
          <p class="rules-rule-desc">Грай та вигравай подарунки</p>
        </div>
      </li>
    </ul>
  </div>
</section>
