.mobile-app-bg {
  padding-top: 40px;
  padding-bottom: 44px;
  background-color: #f9f9f9;
  border-radius: 30px;
}

.mobile-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.mobile-app-content-wrap {
  width: 100%;
}

.mobile-app-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.mobile-app-title {
  color: #333333;
  font-family: Nunito;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.01;
}

.mobile-app-text {
  color: #333333;
  font-family: Nunito;
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.01;
}

.mobile-app-links-container {
  margin-top: 24px;
}

.mobile-app-links-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-app-link {
  flex-shrink: 0;
  width: 165px;
  height: 48px;
}

.mobile-app-link-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-app-sliders-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.mobile-app-screens-slider-decorative-app {
  position: relative;
  width: 100%;
  height: 169px;
  padding: 8px 7px;
}

.mobile-app-screens-slider-decorative-app-img {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.mobile-app-screens-slider {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.mobile-app-screens-slider-slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-app-steps-slider {
  width: 100%;
}

.mobile-app-steps-slider-slide-text {
  color: #333333;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.mobile-app-steps-slider-pagination {
  position: static !important;
  margin-top: 47px;
  color: #333333;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
  pointer-events: none;
}

.mobile-app-steps-slider-controls {
  position: absolute;
  bottom: -10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-app-steps-slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #bcb4f1;
  transition: background-color var(--transition-duration-and-func);
}

.mobile-app-steps-slider-button:is(:hover, :focus) {
  background-color: #9689e8;
}

.mobile-app-steps-slider-button-icon {
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

.prev {
  transform: rotate(180deg);
}

@media screen and (min-width: 1280px) {
  .mobile-app-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobile-app-bg {
    padding-top: 64px;
    padding-bottom: 56px;
    border-radius: 50px;
  }

  .mobile-app-container {
    display: flex;
    gap: 40px;
  }

  .mobile-app-content-wrap {
  }

  .mobile-app-text-wrap {
    gap: 8px;
  }

  .mobile-app-title {
    font-size: 66px;
  }

  .mobile-app-text {
    font-size: 60px;
  }

  .mobile-app-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 24px;
  }

  .mobile-app-links-wrap {
    flex-direction: column;
    gap: 12px;
  }

  .mobile-app-link {
    width: 178px;
    height: 51px;
  }

  .mobile-app-qr-code-wrap {
    flex-shrink: 0;
    background-color: var(--white-color);
    padding: 9px;
    border-radius: 20px;
  }

  .mobile-app-qr-code-img {
    width: 98px;
    height: 98px;
  }

  .mobile-app-sliders-wrap {
    gap: 54px;
  }

  .mobile-app-screens-slider-decorative-app {
    width: 669px;
    height: 330px;
    padding: 17px 15px;
  }

  .mobile-app-screens-slider {
    border-radius: 40px;
  }

  .mobile-app-steps-slider {
    position: relative;
    align-self: start;
    width: 505px;
    margin-top: 0px;
  }

  .mobile-app-steps-slider-slide-text {
    text-align: center;
  }

  .mobile-app-steps-slider-pagination {
    margin-top: 5px;
  }

  .mobile-app-steps-slider-controls {
    top: 141px;
    height: 48px;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1279px) {
  .mobile-app-qr-code-wrap {
    display: none;
  }
}
