h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--body-color);
  padding: 16px;
}

.hidden-element {
  position: fixed;
  transform: scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.pointer-event-none {
  pointer-events: none;
}

.hidden-section-title {
  position: absolute;
  transform: scale(0);
}

@media screen and (min-width: 1280px) {
  body {
    padding: 20px;
  }
}
